div {
    background-color: wheat;
    text-align: center;
    display:block;
    padding: 20px;
    
}

#title1 {
    color: darkred;
    text-align: center;
}

#intro {
    color: darkred;
}

#options {
    color: white;
}