div {
    background-color: greenyellow;
    text-align: center;
}

#title1 {
    margin-bottom: 10px;
}

#intro {
    margin-top: -20px;
    margin-bottom: 10px;
}

#options {
    margin-top: -20px;
}